.skills-bg {
  width: 1920px;
  height: 800px;
  left: 0px;
  position: relative;
  overflow: visible;

  .img {
    position: absolute;
    height: 878.5px;
    width: 1920px;
    top: -285px;
    z-index: 2; // Bild liegt über der anderen Komponente
    clip-path: polygon(
      0 0,
      66% 0,
      66% 100%,
      0 100%
    ); // Zeigt nur die ersten 66% des Bildes an
  }

  .img-below {
    position: absolute;
    height: 878.5px;
    width: 1920px; // Begrenzung auf das rechte Drittel
    top: -285px;
    right: 0;
    z-index: 1;
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      0 100%
    ); // Zeigt das rechte Drittel an
  }
}

section {
  display: flex;
  position: relative;
  top: -600px;
  color: white;
  box-sizing: border-box;
  padding-top: -200px;
}

.skills-class {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  z-index: 4;
}

.skills-class-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
}



.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  z-index: 7;

  img {
    max-width: 100px;
    padding: 12px 0 0 0;
    gap: 10px;
    z-index: 8;

    &:hover {
      cursor: pointer;
      animation: moveUp 250ms ease-in-out forwards;
    
  }
    }

    
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px); 
  }
}


