* {
    padding-top: 700px;
}

.portfolio-container {
    text-align: center;
    color: white;
    background-color: #1a1a2e;
    padding: 2rem;
  }
  
  .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .portfolio-item {
    background-color: #0f3460;
    border: 1px solid #03e9f4;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
  }
  
  .portfolio-item img {
    max-width: 100%;
    border-radius: 5px;
  }